
.heading {
    
    font-family: nib-black;
   color: azure;
   font-size: 6vh;
  }
  
  p {
    font-family: sans-serif;
    color: #bdbdbd;
  }

  #hero-left {
    margin-top: 2em;
    margin-bottom: 4em;
    padding-top: 4em;
    padding-left: 2em;
    padding-bottom: 8em;
    background: linear-gradient(270deg,#501c66,#031e58,#e460f6,#0c6ee2,#000000);
  background-size: 300% 300%;
  box-shadow : rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  animation: gradient-animation 35s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
  }
   
    .hero-left-btn {
        width: 165px;
        height: 50px;
        border: none;
        margin: 3px;
        outline: none;
        color: #fff;
        background: #532ae4;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    
    .hero-left-btn:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .hero-left-btn:active {
        color: #532ae4
    }
    
    .hero-left-btn:active:after {
        background: transparent;
    }
    
    .hero-left-btn:hover:before {
        opacity: 1;
    }
    
    .hero-left-btn:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #532ae4;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    hr {
      color :rgba(255, 255, 255, 0.5)
    }
    .color-white {
      color: white
    }
    .text-center {
      text-align: center;
    }
    .img-sm {
      width: 100px;
      height: 100px
    }
    .img-hw {
      width : 200px;
      height : 200px
    }